{% extends 'base.html.twig' %}

{% block title %}Kreator zestawów pytań{% endblock %}

{% block body %}
    <section>
        Strona główna widoczna będąc niezalogowanym
    </section>
{% endblock %}
