{% extends 'base.html.twig' %}

{% block title %}Kreator zestawów pytań{% endblock %}

{% block body %}
    <main>
        <section class="started-tests-container">
            <h3>Ostatnio edytowane</h3>
            <div class="your-tests">
                <div class="test">
                    Imię i nazwisko: <br>
                    Nr indeksu: <br>
                    Kierunek: <br>
                    <br><br>
                    1. Ile to jest 2+2?<br>
                    <input type="checkbox">1
                    <input type="checkbox">2
                    <input type="checkbox">3
                    <input type="checkbox">4
                </div>
                <div class="test"></div>
                <div class="test"></div>
                <div class="test"></div>
                <div class="test"></div>
                <div class="test"></div>
                <div class="test"></div>
            </div>
        </section>
    </main>
{% endblock %}
