{% extends 'base.html.twig' %}

{% block title %}Kreator zestawów pytań{% endblock %}

{% block body %}
    <main>
        <section class="started-tests-container">
            <h3>Ostatnio edytowane</h3>
            <div class="your-tests">
                <div class="test"></div>
                <div class="test"></div>
                <div class="test"></div>
                <div class="test"></div>
                <div class="test"></div>
                <div class="test"></div>
                <div class="test"></div>
            </div>
        </section>
    </main>
{% endblock %}
