{% extends 'base.html.twig' %}

{% block title %}Nowy test{% endblock %}

{% block body %}
    <section class="create-new-test">
        <h1>Utwórz nowy test</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
        <button type="submit">Utwórz</button>
    </section>
{% endblock %}
