{% extends 'base.html.twig' %}

{% block title %}Kreator testów{% endblock %}

{% block body %}
    <main>
        <nav>
            <i class="fas fa-caret-left"></i>
            <div class="nav-links">
                <div class="nav-link"><a href="{{ path('app_new_test') }}"><i class="fas fa-plus"></i> Nowy test</a></div>
                <div class="nav-link"><a href="#"><i class="far fa-file-alt"></i> Twoje testy</a></div>
                <div class="nav-link"><a href="#"><i class="fas fa-cog"></i> Ustawienia</a></div>
            </div>
        </nav>
        <section class="started-tests-container">
            <h3>Ostatnio edytowane</h3>
            <div class="your-tests">
                <div class="test">
                </div>
                <div class="test"></div>
                <div class="test"></div>
                <div class="test"></div>
            </div>
        </section>
    </main>
{% endblock %}
